html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* BloomThat styles begin */
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	background-color: #fff;
	font-weight: normal;
	font-size: 14px;
	text-transform: none;
	color: #3e4651 !important;
	line-height: 1.7em;
	font-family: "Proxima Nova", sans-serif !important;
}

/* BloomThat header styles */
#fixed-header {
	height: 68px;
	position: fixed;
	left: 0;
	top: 0;
	background: #fff;
	width: 100%;
	z-index: 500;
	opacity: 1;
}

.header {
	border-bottom: solid 2px #eee;
}

.header .col-xs-4, .header .col-xs-8 {
	padding: 0;
}

.logo a {
	width: 210px;
	display: block;
	padding: 20px 0 15px 0;
}

.logo img {
	max-width: 100%;
	height: auto;
}

.lead-menu {
	float: right;
	list-style: none;
	margin: 20px 0;
}

.lead-menu li {
	display: inline-block;
	padding: 2px 0 10px 25px;
	text-align: right;
}

.lead-menu li a {
	color: #707070;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 400;
	letter-spacing: 0.75px;
	cursor: pointer;
}

.sign-in-button {
	padding-right: 0;
}

.sign-in-button a {
	padding: 8px 23px;
	font-size: 12px;
	border: 2px solid #707070;
	color: #707070;
	text-align: center;
	margin: -5px 0 0 0;
	font-weight: 600;
	letter-spacing: .75px;
	line-height: 17px;
	text-transform: uppercase;
	text-shadow: 0 0 rgba(0,0,0,0.1);
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	outline: 0;
}

.lead-menu li a:hover {
	background: #fff;
	color: #f60;
	text-decoration: none;
}

.sign-in-button a:hover {
	border: 2px solid #f60;
}

/* BloomThat body styles */
#fixed-body {
	margin-top: 107px;
}

#fixed-body .container {
	width: 904px;
	padding: 0;
}

#fixed-body .content {
	padding: 0;
}

#fixed-body .content .top-image {
	height: 300px;
	width: 100%;
	border: none;
	background-color: #f9f9f9;
	margin-bottom: 10px;
}

.content h3 {
	margin-top: 1em;
	margin-bottom: 0;
	font-weight: bold;
	color: #f60;
	font-size: 24px;
	line-height: 35px;
	text-align: left;
	text-transform: uppercase;
}

.content .secondh3 {
	margin-top: 2em;
}

.content .coloring-copy {
	margin-bottom: 25px;
	font-size: 13px;
	font-weight: 300;
	font-family: "Proxima Nova", sans-serif !important;
}

.content .step2-copy {
	margin-bottom: 0px;
}

.step1-wrapper .text-wrapper {
	height: 100px;
	width: 559px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 0;
	margin-bottom: 1px;
	background-color: #fff;
	z-index: 50;
}

.step1-wrapper .text-from-input {
	z-index: 30;
	font-size: 30px;
	width: 100%;
	text-align: center;
	bottom: 0;
	font-family: Londrina Outline;
	position: relative;
	margin-bottom: 0;
	max-width: 92%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	word-wrap: break-word;
}

.step1-wrapper .thumbnail-wrapper {
	display: inline-block;
	vertical-align: top;
}

.step1-wrapper .image-thumbnail {
	display: inline-block;
	border: 5px solid #fff;
	margin-bottom: 3px;
	transition: border 200ms linear;
}

.step1-wrapper .image-thumbnail:hover {
	border: 5px solid #f60 !important;
}

.step1-wrapper .image-thumbnail img {
	width: 125px;
	height: auto;
	cursor: pointer;
}

.step1-wrapper .image-preview {
	position: relative;
	display: inline-block;
	margin-left: 20px;
}

.step1-wrapper .image-preview img {
	width: 561px;
	height: 726px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	border: 1px solid #d3d6d6;
}

.count-div {
	text-align: right;
}

.count-span {
	font-size: 11px;
	color: #bbb;
	text-transform: uppercase;
}

.input-wrapper {
	width: 290px;
	margin-top: 20px;
}

.input-wrapper textarea {
	padding: 10px;
	width: 100%;
	border: 2px solid #ccc;
	box-shadow: none !important;
	border-radius: 3px;
	font-size: 12px;
	display: inline-block;
	position: relative;
	resize: none;
}

.input-wrapper textarea:focus {
	border: 2px solid #999;
	outline: none;
}

.input-wrapper .set-text-button {
	display: inline-block;
	background-color: #f60;
	border: none;
	text-transform: uppercase;
	color: #fff;
	height: 38px;
	font-size: 13px;
	font-weight: 300;
	width: 100%;
	border-radius: 2px;
}

.edit-coloring-page {
	background-color: #f60;
	border: none;
	text-transform: uppercase;
	color: #fff;
	height: 38px;
	font-size: 13px;
	font-weight: 300;
	width: 290px;
	border-radius: 2px;
}

.flower-wrapper {
	width: 225px;
	padding: 10px;
	float: left;
	transition: background-color 200ms linear;
}

.flower-wrapper.selected {
	/*background-color: #ff71c6 !important;*/
	background-color: #f60 !important;
}

.flower-wrapper:hover {
	cursor: pointer;
	background-color: #f60 !important;
}

.flower-wrapper img {
	width: 100%;
}

.bouquet-name {
	margin-top: 5px;
	margin-bottom: 0;
	text-align: center;
	font-size: 14px;
	line-height: 1em;
}

.bouquet-price {
	margin-bottom: 0;
	text-align: center;
}

/* BloomThat footer styles */
.base {
	border-top: solid 2px #eee;
	font-size: 12;
	line-height: 1em;
	color: #b3b3b3;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	height: 278px;
	margin-top: 48px;
}

.base .container {
	padding: 20px 0;
}

.base .row {
	margin-bottom: 20px;
}

.base img {
	width: 75px;
}

.master_footer li {
	display: inline-block;
	padding: 10px 25px;
	margin-bottom: 12px;
	line-height: 18px;
}

.master_footer li a {
	color: #707070;
	font-weight: 400;
	letter-spacing: .75px;
	text-transform: uppercase;
	font-size: 11px;
}

.mobileBreak {
	display: none;
}

@media only screen and (max-width: 959px) {
	#fixed-body .container {
		max-width: 768px;
	}
	.step1-wrapper .image-thumbnail img {
		width: 95px;
	}
	.input-wrapper {
		width: 260px;
	}
	.step1-wrapper .image-preview img {
		width: 450px;
		height: 582px;
	}
	.step1-wrapper .text-wrapper {
		width: 448px;
	}
	.step1-wrapper .text-from-input {
		font-size: 22px;
		margin-top: 20px;
	}
	.flower-wrapper {
		width: 384px;
	}
}

@media only screen and (max-width: 767px) {
	#fixed-body .container {
		max-width: 420px;
	}
	.logo a {
		width: 150px;
	}
	.step1-wrapper .image-thumbnail img {
		width: 198px;
	}
	.input-wrapper {
		width: 420px;
	}
	.step1-wrapper .image-preview {
		margin-left: 0;
	}
	.step1-wrapper .image-preview img {
		width: 420px;
		height: 543px;
	}
	.step1-wrapper .text-wrapper {
		width: 418px;
	}
	.step1-wrapper .text-from-input {
		font-size: 20px;
		margin-top: 20px;
	}
	.flower-wrapper {
		width: 210px;
	}
}

@media only screen and (max-width: 655px) {
	.flower-wrapper {
		width: 420px;
	}
}

@media only screen and (max-width: 479px) {
	#header-contain {
		padding: 0 !important;
	}
	#fixed-body .container {
		max-width: 300px;
	}
	.lead-menu li {
		padding: 2px 0 10px 10px;
	}
	.lead-menu li a {
		font-size: 9px;
	}
	.content h3 {
		font-size: 21px;
	}
	.step1-wrapper .image-thumbnail img {
		width: 135px;
	}
	.input-wrapper {
		width: 300px;
	}
	.step1-wrapper .image-preview {
		margin-left: 0;
	}
	.step1-wrapper .image-preview img {
		width: 300px;
		height: 388px;
	}
	.step1-wrapper .text-wrapper {
		width: 298px;
	}
	.step1-wrapper .text-from-input {
		font-size: 20px;
		margin-top: 10px;
		line-height: 24px;
	}
	.flower-wrapper {
		width: 300px;
	}
	.master_footer li {
		padding: 5px 25px;
	}
	.master_footer li a {
		font-size: 9px;
	}
	.mobileBreak {
		display: static;
	}
}













