html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------- BloomThat styles begin ---------- */
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	background-color: #fff;
	font-size: 14px;
	color: #3E4651 !important;
	line-height: 23.8px;
	font-family: proxima-nova, sans-serif !important;
}

/* Header Styles */
#fixed-header {
	min-height: 68px;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: #fff;
	z-index: 500;
	opacity: 1;
}

.header {
	border-bottom: solid 2px #eee;
}

.header .col-xs-4, .header .col-xs-8 {
	padding: 0;
}

.logo a {
	width: 210px;
	display: block;
	padding: 25px 0 15px 0;
}

.logo a img {
	max-width: 100%;
	height: auto;
}

.lead-menu {
	float: right;
	list-style: none;
	margin: 20px 0;
}

.lead-menu li {
	display: inline-block;
	padding: 2px 0 10px 25px;
	text-align: right;
}

.lead-menu li a {
	color: #707070;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 400;
	letter-spacing: 0.75px;
	cursor: pointer;
}

.lead-menu li a:hover {
	background: #fff;
	color: #f60;
	text-decoration: none;
}

.sign-in-button {
	padding-right: 0;
}

.sign-in-button a {
	padding: 8px 23px;
	font-size: 12px;
	border: 2px solid #707070;
	color: #707070;
	text-align: center;
	margin: -5px 0 0 0;
	font-weight: 600;
	letter-spacing: .75px;
	line-height: 17px;
	text-transform: uppercase;
	text-shadow: 0 0 rgba(0,0,0,0.1);
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	outline: 0;
}

.sign-in-button a:hover {
	border: 2px solid #f60;
}

/* Modal Styles */
.modal .modal-content {
	border-radius: 0;
	font-family: proxima-nova, sans-serif !important;
}

.modal .modal-body {
	padding: 50px 40px;
	background-color: #fff;
}

.modal .completionText {
	text-align: center;
	margin-top: 0;
	margin-bottom: 25px;
	line-height: 26px;
	font-weight: 300;
}

.modal .buttonWrapper {
	text-align: center;
}

.modal button {
	padding: 13px 10px;
	border-radius: 2px;
	color: #fff;
	border: none;
	text-transform: uppercase;
}

.modal .revisit-campaign {
	background-color: #efefef;
	color: #333;
	margin-right: 5px;
}

.modal .to-portfolio {
	background-color: #f60;
}

.modal .revisit-campaign:hover {
	background-color: #e3e3e3;
}

.modal .to-portfolio:hover {
	background-color: #f60;
}

.modal button:focus {
	outline: none;
}

/* Body Styles */
#fixed-body {
	margin-top: 107px;
}

#fixed-body .container {
	width: 904px;
	padding: 0;
}

#fixed-body .content {
	padding: 0;
}

#fixed-body .top-image {
	height: auto;
	width: 100%;
	border: none;
	background-color: #f9f9f9;
	margin-bottom: 10px;
}

#fixed-body h3 {
	margin-top: 24px;
	margin-bottom: 0;
	font-weight: bold;
	color: #f60;
	font-size: 24px;
	line-height: 35px;
	text-align: left;
	text-transform: uppercase;
}

/* Coloring Pages Styles */
.step1-wrapper {
	margin-bottom: 14px;
}

.coloring-copy {
	margin-bottom: 25px;
	font-size: normal;
	line-height: 18px;
}

.thumbnail-wrapper {
	display: inline-block;
	vertical-align: top;
}

.image-thumbnail {
	display: inline-block;
	border: 3px solid #fff;
	margin-bottom: 3px;
	transition: border 200ms linear;
}

.image-thumbnail:hover {
	border: 3px solid #f60 !important;
}

.image-thumbnail img {
	width: 125px;
	height: auto;
	cursor: pointer;
}

.image-preview {
	position: relative;
	display: inline-block;
	margin-left: 20px;
}

.image-preview img {
	width: 561px;
	height: 726px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	border: 1px solid #d3d6d6;
}

.text-wrapper {
	height: 120px;
	width: 559px;
	padding-top: 10px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 0;
	margin-bottom: 1px;
	background-color: #fff;
	z-index: 50;
}

.text-from-input {
	z-index: 30;
	font-size: 30px;
	width: 100%;
	text-align: center;
	bottom: 0;
	font-family: Londrina Outline;
	position: relative;
	margin-bottom: 0;
	max-width: 92%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	word-wrap: break-word;
}

.count-div {
	text-align: right;
}

.count-span {
	font-size: 11px;
	color: #bbb;
	text-transform: uppercase;
}

.input-wrapper {
	width: 268px;
	margin-top: 20px;
}

.input-wrapper textarea {
	padding: 10px;
	width: 100%;
	border: 1px solid #ccc;
	box-shadow: none !important;
	border-radius: 0;
	-webkit-border-radius: 0;
	-khtml-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	font-size: 12px;
	display: inline-block;
	position: relative;
	resize: none;
}

.input-wrapper textarea:focus {
	border: 1px solid #999;
	outline: none;
}

.input-wrapper .set-text-button {
	display: inline-block;
	background-color: #f60;
	border: none;
	text-transform: uppercase;
	color: #fff;
	height: 38px;
	font-size: 13px;
	font-weight: 300;
	width: 100%;
	border-radius: 0;
	-webkit-border-radius: 0;
	-khtml-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
}

.input-wrapper .set-text-button:focus {
	outline: none;
}

.edit-coloring-page {
	text-transform: uppercase;
	color: #a0a0a0;
	font-size: 13px;
	font-weight: 300;
	text-decoration: underline;
}

.edit-coloring-page:hover {
	color: #a0a0a0;
}

/* Select Blooms Styles */
.step2-h3 {
	margin-top: 48px;
}

.flower-wrapper {
	width: 225px;
	padding: 10px;
	float: left;
	transition: background-color 200ms linear;
}

.flower-wrapper.selected {
	background-color: #f60 !important;
}

.flower-wrapper:hover {
	cursor: pointer;
	background-color: #f60 !important;
}

.flower-wrapper img {
	width: 100%;
}

.bouquet-name {
	margin-top: 5px;
	margin-bottom: 0;
	text-align: center;
	font-size: 14px;
	line-height: 14px;
}

.bouquet-price {
	margin-bottom: 0;
	text-align: center;
}

/* Final Button Styles */
.final-cta {
	text-align: center;
}

.final-cta button {
	margin-top: 42px;
	margin-bottom: 63px;
	background-color: #f60;
	padding: 25px 60px;
	font-size: 1.3em;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 17px;
	border: 0;
	transition: background-color 200ms linear;
	color: #fff;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
}

.final-cta button:focus {
	outline: none;
}

/* Footer Styles */
.base {
	border-top: solid 2px #eee;
	font-size: 12;
	line-height: 12px;
	color: #b3b3b3;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	height: 278px;
	margin-top: 48px;
}

.base .container {
	padding: 20px 0;
}

.base .row {
	margin-bottom: 20px;
}

.base img {
	width: 75px;
}

.master_footer li {
	display: inline-block;
	padding: 10px 25px;
	margin-bottom: 12px;
	line-height: 18px;
}

.master_footer li a {
	color: #707070;
	font-weight: 400;
	letter-spacing: .75px;
	text-transform: uppercase;
	font-size: 11px;
}

/* Media Queries Styles */
@media only screen and (max-width: 991px) {
	#header-contain.container {
		width: 100% !important;
	}
}

@media only screen and (max-width: 959px) {
	#fixed-body .container {
		max-width: 768px;
	}
	.image-thumbnail img {
		width: 95px;
	}
	.input-wrapper {
		width: 260px;
	}
	.image-preview img {
		width: 450px;
		height: 582px;
	}
	.text-wrapper {
		width: 448px;
		height: 100px;
		margin-top: 0;
	}
	.text-from-input {
		font-size: 22px;
		margin-top: 5px;
	}
	.flower-wrapper {
		width: 384px;
	}
}

@media only screen and (max-width: 767px) {
	#fixed-body .container {
		max-width: 420px;
	}
	.logo a {
		width: 150px;
	}
	.image-thumbnail img {
		width: 202px;
	}
	.input-wrapper {
		width: 420px;
	}
	.image-preview {
		margin-left: 0;
	}
	.image-preview img {
		width: 420px;
		height: 543px;
	}
	.text-wrapper {
		width: 418px;
	}
	.text-from-input {
		font-size: 20px;
		margin-top: 10px;
	}
	.edit-wrapper {
		margin-top: -20px;
	}
	.flower-wrapper {
		width: 210px;
	}
}

@media only screen and (max-width: 655px) {
	.flower-wrapper {
		width: 420px;
	}
}

@media only screen and (max-width: 479px) {
	#header-contain {
		padding: 0 !important;
	}
	.modal .revisit-campaign {
		width: 100%;
		margin-right: 0;
		margin-bottom: 10px;
	}
	.modal .to-portfolio {
		width: 100%;
	}
	#fixed-body .container {
		max-width: 300px;
	}
	.lead-menu li {
		padding: 2px 0 10px 10px;
	}
	.lead-menu li a {
		font-size: 9px;
	}
	.content h3 {
		font-size: 21px;
	}
	.image-thumbnail img {
		width: 142px;
	}
	.input-wrapper {
		width: 300px;
	}
	.image-preview {
		margin-left: 0;
	}
	.image-preview img {
		width: 300px;
		height: 388px;
	}
	.text-wrapper {
		width: 298px;
		height: 90px;
		padding-top: 0;
	}
	.text-from-input {
		font-size: 20px;
		margin-top: 10px;
		line-height: 24px;
	}
	.flower-wrapper {
		width: 300px;
	}
	.master_footer li {
		padding: 5px 20px;
	}
	.master_footer li a {
		font-size: 9px;
	}
	.mobileBreak {
		display: static;
	}
}